@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<p>Version: @ViewData["Version"]</p>
<p>Time: @ViewData["Time"]</p>

<p>Use this area to provide additional information.</p>
